* body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}



form {
    width: 600px;
    margin-left: 350px;
    border: 1px solid black;
}

label {
    display: inline-block;
    width: 110px;
    font-family: sans-serif;
    font-size: 14pt;
    padding: 10px;
}

input {
    width: 250px;
    font-family: sans-serif;
    font-size: 14pt;
    border-radius: 8px;
}

input:hover {
    background-color: #dddddd;
}