* body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(to right, #4c6c81, #083263);
}

header h1 {
    color: white;
    text-align: center;
}

nav#menu {
    display: flex;
    justify-content: center;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;

}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 15px;
    border-radius: 13px;
    margin: 10px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #1c4780;
    font-weight: bold;
}

nav#menu a {
    text-decoration: none;
    color: black;
}

form {
    width: 500px;

}

div#botao {
    border-top: 2px solid #606060;
    padding-top: 10px;
}

div#valorT {
    padding-bottom: 10px;

}

label {
    display: inline-block;
    width: 110px;
    font-family: sans-serif;
    font-size: 12pt;
    padding: 10px;
}

input {
    width: 150px;
    font-family: sans-serif;
    font-size: 12pt;
    border-radius: 8px;
    display: inline-block;
}

input:hover {
    background-color: #dddddd;
}

input::placeholder {
    font-size: 11px;
    font-weight: initial;
}

div#botao {
    display: flex;
    justify-content: space-around;

    /* border: 1px solid black; */
}

dialog#idForm {
    border: none;
    border-radius: 15px;

}